APP_NAME=INS Challenge Backend
APP_ENV=dev
API_V1_PREFIX=/api/v1

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ins_challenge
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5433

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/ins_challenge

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

LOGS_DIR=/data/logs
UPLOADS_DIR=/data/inputs
OUTPUTS_DIR=/data/outputs

GPS_INSTANCE=0
MIN_GPS_STATUS=1
FUSION_ALGORITHM=ekf
